.landing-page-logo{
    height: 25vh;
    width: auto;
}

#landing-page-component {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #01c026, #03c890);
    position: fixed;
}

#byline {
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5rem;
}

.topbar-logo {
    height: 7vh;
    padding: 10px;
    width: auto;
}