.landing-page-logo{
    height: 25vh;
    width: auto;
}

#landing-page-component {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(to right, #01c026, #03c890);
}

#byline {
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5rem;
}

.topbar-logo {
    height: 7vh;
    padding: 10px;
    width: auto;
}

.onClickStyling {
    background-color: gray;
}

.btn {
    padding: 0.375rem 1.5rem 0.375rem 1.5rem !important;
}

.flight {
    margin-top: 2rem;
    width: 100%;
}

#flight-price {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Varela', sans-serif;
}

#none-transport {
    margin-top: 2rem;
    font-size: 1.5rem;
}

#back-text {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Varela', sans-serif;
}

#attractions-title {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-family: 'Varela', sans-serif;
}

#transportation-title {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-family: 'Varela', sans-serif;
}

#transportation-card {
    width: '100%';
    margin: '1.5rem auto';
    border-bottom: '1px solid #e6e6e6'
}

.add-item-button {
    position: absolute !important;
    bottom: 0;
}

.search-card {
    padding: 10px 10px;
    width: 70vw;
    margin: 0 auto;
}

#destinations-title {
    font-size: 1.5rem;
    font-family: 'Varela', sans-serif;
    padding-block: 10px;
}

#summary-title {
    font-family: 'Varela', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
}

#subtitle {
    font-size: 1.5rem;
    font-family: 'Varela', sans-serif;
    font-weight: 400;
}
